<div id="about">
    <div id="about-header">
        <h2>About</h2>
    </div>
    <div id="about-content">
        <img src="../../assets/Ambiotech.jpeg" alt="Company">
        <p>Ambiotech  is a biotech organization established in 2010. Founded by Mr. Ragunathan, we as an organization specilaise in offering services related to any Biotechnology analysis. We have 30 employees presently working in the organization. 4 of the lead scientists hold a PhD degree. Our rest of the scientific team possess 6 masters and 10 bachelors graduates respectively. We strive for innovation and take pride in consistently delivering services at a lower cost when compared to competitors. Presently we serve 30 clients and the numbers have projected an upward trend over the years.</p>
    </div>    
</div>

