<div id="contact">
    <div id="contact-head">
        <h2>Contact Us</h2>
    </div>
    <div id="contact-content">
        <p>Organization</p>
        <input type="text">
        <br>
        <p>Service required</p>
        <select name="service" id="service-option">
            <option value="Bio-separation">Bio-separation</option>
            <option value="Bio-analysis">Bio-analysis</option>
            <option value="Invitro and Invivo studies">Invitro and Invivo studies</option>
        </select>
        <br>
        <p>Email</p>
        <input type="email" name="client" id="client">
        <br>
        <button type="submit">Submit</button>
    </div>
</div>