<div id="services">
    <div id="services-head">
        <h2>Services</h2>
    </div>
    <div id="services-content">
        <mat-card>
            <mat-card-header>
                Bio-separation
            </mat-card-header>
            <mat-card-content>
                We perform bio-separation from both plants and microbes    
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
                Bio-analysis
            </mat-card-header>
            <mat-card-content>
                We have GC-MS, HPLC, NMR & FT-IR for carrying out bio-analysis    
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
                Invitro & Invivo study
            </mat-card-header>
            <mat-card-content>
                We maintain all micobes and animals in our laboratory to do the required analysis   
            </mat-card-content>
        </mat-card>


        <mat-card>
            <mat-card-header>
                Clinical trials info
            </mat-card-header>
            <mat-card-content>
                We provide the required clinical trials data based on the requirement    
            </mat-card-content>
        </mat-card>

    </div> 
</div>

